<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92263645089-4h34okmcp79ij4pu8n6f5a923j9d90pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92263645089-4h34okmcp79ij4pu8n6f5a923j9d90pr</string>
	<key>API_KEY</key>
	<string>AIzaSyAKgLxmvhQ4hA0vc3T0q1d7b3Z9xz-m0UY</string>
	<key>GCM_SENDER_ID</key>
	<string>92263645089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Riza.Seafood</string>
	<key>PROJECT_ID</key>
	<string>seafood-c1483</string>
	<key>STORAGE_BUCKET</key>
	<string>seafood-c1483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92263645089:ios:c609dddd0c3e5039fbd5e0</string>
</dict>
</plist>